
<h2 id="menu-categories-title" class="text-center">Registration</h2>
<div class="text-center">
    Fill out the form to join our news letter.
</div>
<form name='regForm' novalidate>

    <input type="text" name="first" placeholder="First name" ng-model="signupCtrl.user.first" required>
        {{ signupCtrl.user.first }}
        <span ng-if="regForm.first.$invalid && regForm.first.$touched">
            Must specify your first name.
        </span>
    <br>

    <input type="text" name="last" placeholder="Last name" ng-model="signupCtrl.user.last" required>
        {{ signupCtrl.user.last }}
        <span ng-if="regForm.last.$invalid && regForm.last.$touched">
            Must specify your last name.
        </span>
    <br>

    <input type="email" name="email" placeholder="Email" ng-model="signupCtrl.user.email" required>
        {{ signupCtrl.user.email }}
        <span ng-if="regForm.email.$invalid && regForm.email.$touched">
        Must be a valid email address: handle@domain format
        </span>
    <br>

    <input type="text" name="phone" placeholder="Phone ##########" ng-model="signupCtrl.user.phone" pattern="(\d{3})(\d{3})(\d{4})" required>
        {{ signupCtrl.user.phone }}
        <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
        Phone must be in the format ##########
        </span>
    <br>

    <input type="text" name="favdish" placeholder="Favorite dish menu number" ng-model="signupCtrl.user.favdish" ng-change="signupCtrl.checkFavorite()">
        <span ng-if="regForm.$valid && regForm.favdish.$touched">
        {{ signupCtrl.menuItemExists ? "" : "Oops! No such menu number exists" }}
        </span>
    <br>

        <!-- only submit if all fields are validated (except for favorite dish) -->
    <button ng-disabled="regForm.$invalid || !signupCtrl.menuItemExists" ng-click="signupCtrl.submit()">Submit</button>

    <div style="margin-top: 10px;">
    {{ ( regForm.$valid && signupCtrl.menuItemExists ? "Valid form! Submit when you are ready" : "Invalid form!") }}
    </div>
    </form>
  <div id="info" ng-if="signupCtrl.menuItemExists && regForm.$valid">
    {{ signupCtrl.message }}
  </div>