* { /** Override certain user-agent styles **/
    box-sizing: border-box; /** Not a CSS inherited property **/
    margin: 0;
    padding: 0;
}
body {
  margin: 1em;
}
header {
  font-size: 200%;
  text-align: center;
}
.container {
  float: left;
}
.spacing {
  padding: 1em;
}
.small-title {
  display: none;
}

.chicken .card-label{
  background-color:orange;
}
.beef .card-label{
  background-color:purple;
}
.sushi .card-label{
  background-color: salmon;
}

.card {
  border: 2px solid black;
  position: relative;
  background-color: #FFFFF0;
}

.card-label {
  display: block;
  float: right;
  border: 2px solid black;
  position: relative;
  text-align: center;
  top: -2px;
  right: -2px;
  width: 200px;
  margin-top: 0;
  margin-bottom: 0;
}

.card-info {
  padding: 1em;
  overflow: auto;
  height: 100px;
  clear: both;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  .col-lg-3 {
    width: 33.33%;
    display: inline-block;
  }
  body {
    background-color: lightgreen;
  }
}
  
  
  /********** Medium devices only **********/
  @media (min-width: 992px) and (max-width: 1199px) {
    .col-nd-1 {
      width: 100%;
    }
    .col-md-2 {
      width: 50%;
    }
    body {
      background-color: lightcoral;
    }
  }

/******** Small devices only *********/
@media (max-width: 991px) {
  .small-title {
    display: block;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 100%;
    text-align: left;
  }
  .big-title {
    display: none;
  }
  .col-sm-1 {
    width: 100%;
  }
  .card-info {
    display: block;
    clear: both;
  }

  .card:hover .card-info {
    cursor: ns-resize;
  }

  body {
    background-color: lightblue;
  }
  .card-label {
    right: 0;
    width: 100%;
    clear: both;
  }
}