<a ui-sref="home">Home</a> | <a ui-sref="categories">Categories</a>
<ul>
    <li ng-repeat="item in itemsListController.itemsForCat" 
    ui-sref="item({shortName: item.short_name})">
        <div>{{item.name }} ({{ item.id }})</div>
        <div>Short name:{{ item.short_name }}</div>
        <div>Description: {{ item.description }}</div>
        <div>Price small: {{ item.price_small | currency : '$' : 2}}</div>
        <div>Price large: {{ item.price_large | currency : '$' : 2}}</div>
    </li>
</ul>
  